<div class="container">
  <div class="header">
    <app-theme></app-theme>
  </div>

  <div class="main">
    @if(user | async) {
    <div>
      <div class="menu">
        <app-menu></app-menu>
      </div>
      <div class="name-card">
        <!-- {{  }} -->
        {{ ((user | async)?.email?.length || 0) > 20 ? ((user | async)?.email | slice:0:20) + '...' : (user | async)?.email }}
      </div>
    </div>
    }

    <div class="content">
      <p-messages />

      <p-fieldset [legend]="fieldTitle">
        <router-outlet />
      </p-fieldset>
    </div>
  </div>
</div>
